<!DOCTYPE html>
{% extends "AppFamiliar/padre.html" %}

{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Lista de Padres</h1>
        {% endblock %}

        {% block contenido %}

          <p>Acá tenemos todos los padres:</p> <br>
          <ul>
            {% for padre in object_list %}
            <li>

              <p>NOMBRE: {{ padre.nombre}}</p>

              <p>
              <a href="{% url 'Detail' padre.id %}">Ver más</a>
              <a href="{% url 'Edit' padre.id %}">Editar</a>
              <a href="{% url 'Delete' padre.id %}">Borrar</a>

            </p>

            </li>

            {% endfor %}


          </ul>
         

        {% endblock %}
