<!DOCTYPE html>
{% extends "AppFamiliar/padre.html" %}

{% load static %}

        {% block contenido2 %}
            <h1 class="masthead-heading text-uppercase mb-0">Detalle del Padre</h1>
        {% endblock %}

        {% block contenido %}

          <p>Nombre del padre: <em> {{ padre.nombre}}</em></p>
          <p>Apellido del padre: <em> {{ padre.apellido}}</em></p>
          <p>Telefono: <em> {{ padre.telefono}}</em></p>
          <p>Direccion: <em> {{ padre.direccion}}</em></p>
          <p>Correo: <em> {{ padre.correo}}</em></p>
          <p>Fecha de Nacimiento: <em> {{ padre.fecha_telefono}}</em></p>
          <p>Telefono: <em> {{ padre.telefono}}</em></p>

          <p>

            <a href="{% url 'List' %}">Regresar</a>

          </p>
         

        {% endblock %}

