<!DOCTYPE html>
{% extends "AppFamiliar/padre.html" %}


{% load static %}

        {% block contenido2 %}
        <h1 class="masthead-heading text-uppercase mb-0">HIJOS de la BD</h1>
        {% endblock %}


        {% block contenido %}

                {% for h in hijos %}

                        <ul></ul><li>HIJO :   {{ h }}  </li><>
                        <button>
                                <a href="{% url 'EliminarHijo' h.numero %}">Eliminar</a>
                                <a href="{% url 'EditarHijo' h.numero %}">Editar</a>
                        </button>
                        <br>
                {% endfor %}

                <a href="{% url 'HijoFormulario'%}">Añadir otro Hijo</a>


        
        {% endblock %}

<br>
<br>
<br>
<h1 style="text-align: center; color:rgb(179, 52, 14); font-size:40px">Aca estan los Hijos </h1>

<p style="text-align: center; color:rgb(49, 19, 219); font-size:30px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque earum soluta repudiandae fugiat ipsum repellat ullam aperiam quo non sequi perspiciatis saepe tempora laboriosam sed laborum, omnis nostrum ab cumque magni provident facilis amet explicabo? Recusandae ducimus omnis sint quod quidem ipsum iste expedita labore quasi aliquid hic itaque nam, perspiciatis laudantium odio</p>
        